html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
}

section {
    min-height: 100%;
}

a {
    text-decoration: none;
    text-align: center;
}

li {
    list-style-type: none;
}

h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #494949;
    text-transform: uppercase;
}

h2 {
    color: #5d7177;
}

h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

h4, p {
    font-family: 'Roboto Slab', serif;
    color: #494949;
}

hr {
    width: 30px;
    height: 3px;
    background: #494949;
    border: 0px;
    margin: 0 auto 40 auto;
}


/*HEADER*****************************
